<div class="btn-group">
  <button
    type="button"
    data-test="PreviousButton"
    class="btn btn-secondary"
    (click)="pageChange.next(this.currentPage - 1)"
    [disabled]="currentPage <= 1"
  >Prev</button>
  <button
    type="button"
    data-test="NextButton"
    class="btn btn-secondary"
    (click)="pageChange.next(this.currentPage + 1)"
    [disabled]="currentPage >= totalPages - 1"
  >Next</button>
</div>
