<div class="card mb-4 box-shadow" *ngIf="movie">
  <img
    class="card-img-top"
    data-test="backdropImage"
    *ngIf="movie?.getBackdrop()"
    [src]="movie?.getBackdrop()"
    alt="Card image cap">
  <div class="card-body">
    <h3
      class="card-title"
      data-test="movieTitle"
      *ngIf="movie?.title"
    >{{movie?.title}}</h3>
    <hr>
    <p
      class="card-text"
     data-test="overviewMovie"
    >{{movie?.overview}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a
          class="btn btn-sm btn-secondary"
          [routerLink]="'movie/' + movie?.id"
          data-test="routerLinkToDetails"
        >More</a>
      </div>
      <small class="text-muted" *ngIf="movie?.voteCount">Votes {{ movie?.voteCount }}</small>
    </div>
  </div>
</div>
