<main role="main">
  <section class="jumbotron pb-2">
    <div class="text-center mr-5 ml-5">
      <h2 data-test="moviesPageTitle">Are you asking yourself</h2>
      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByPresetMostPopularButton"
        (click)="searchByPreset(SearchingByEnum.MOST_POPULAR)"
        [ngClass]="searchingBy === SearchingByEnum.MOST_POPULAR ? 'btn-dark' : 'btn-outline-dark'">
        What are the most popular movies of all time?
      </button>

      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByPresetWorstOf2020Button"
        (click)="searchByPreset(SearchingByEnum.WORST_2020)"
        [ngClass]="searchingBy === SearchingByEnum.WORST_2020 ? 'btn-dark' : 'btn-outline-dark'">
        What are the worst movies of 2020?
      </button>

      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByHighestGoosingButton"
        (click)="searchByPreset(SearchingByEnum.HIGHEST_GROSING)"
        [ngClass]="searchingBy === SearchingByEnum.HIGHEST_GROSING ? 'btn-dark' : 'btn-outline-dark'">
        What movies made the most Money since their launch?
      </button>

      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByOldestButton"
        (click)="searchByPreset(SearchingByEnum.OLDEST)"
        [ngClass]="searchingBy === SearchingByEnum.OLDEST ? 'btn-dark' : 'btn-outline-dark'">
        What are the oldest movies ever made?
      </button>

      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByNewestButton"
        (click)="searchByPreset(SearchingByEnum.NEWEST)"
        [ngClass]="searchingBy === SearchingByEnum.NEWEST ? 'btn-dark' : 'btn-outline-dark'">
        What are the latest movies to be released?
      </button>

      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByVotedButton"
        (click)="searchByPreset(SearchingByEnum.VOTED)"
        [ngClass]="searchingBy === SearchingByEnum.VOTED ? 'btn-dark' : 'btn-outline-dark'">
        What are most voted and engaging movies of all time?
      </button>

      <button
        type="button"
        class="btn m-3 btn-sm"
        data-test="searchByObscureButton"
        (click)="searchByPreset(SearchingByEnum.OBSCURE)"
        [ngClass]="searchingBy === SearchingByEnum.OBSCURE ? 'btn-dark' : 'btn-outline-dark'">
        What are most obscure and niche movies of all time?
      </button>
    </div>

    <h5 class="container text-center p-3">
      Or perhaps you you need
      <button
        type="button"
        class="btn btn-outline-dark"
        data-test="showFiltersButton"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed">
        more filters
      </button>
    </h5>

    <div
      data-test="expandedAreaZone"
      class="container collapse"
      [ngClass]="isCollapsed ? '' : 'show'">
      <form [formGroup]="form" novalidate autocomplete="off">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="sortByFormControl" data-test="sortByLabel">Sort By</label>
            <select
              class="form-control"
              id="sortByFormControl"
              data-test="sortBySelect"
              formControlName="sortBy">
              <option value="" disabled>Select sort by...</option>
              <option *ngFor="let enumEntry of DiscoverMovieSortByOptionsEnum | keyvalue" [ngValue]="enumEntry.value">
                {{ getHumanReadableValue(enumEntry.key) }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="includeAdultFormControl" data-test="includeAdultLabel">Include adult</label>
            <select
              class="form-control"
              id="includeAdultFormControl"
              data-test="includeAdultSelect"
              formControlName="includeAdult">
              <option value="" disabled>Should we include adult movies or not?...</option>
              <option *ngFor="let enumEntry of DiscoverMovieIncludeAdultOptionsEnum | keyvalue" [ngValue]="enumEntry.value">
                {{ getHumanReadableValue(enumEntry.key) }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-12">
            <label for="yearFormControl" data-test="yearLabel">Recent Years</label>
            <select
              class="form-control"
              id="yearFormControl"
              data-test="yearSelect"
              formControlName="year">
              <option value="" disabled>Only movies from this decade?</option>
              <option *ngFor="let year of [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010]" [ngValue]="year">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
        <p class="text-center">
          <button
            type="button"
            class="btn"
            data-test="searchGenericButton"
            (click)="searchByPreset(SearchingByEnum.CUSTOM)"
            [ngClass]="searchingBy === SearchingByEnum.CUSTOM ? 'btn-dark' : 'btn-outline-dark'">
            Search!
          </button>
        </p>
      </form>
    </div>
  </section>

  <div class="container" *ngIf="(listPhase | async) !== MoviesStatePhaseEnum.INIT">
    <div class="row" *ngIf="(listPhase | async) === MoviesStatePhaseEnum.LOADING_ERROR">
      <div class="alert alert-danger w-100" data-test="errorAlert">
        <h4 class="alert-heading">Something went wrong...</h4>
        <p data-test="errorAlertText">{{ error | async }}</p>
      </div>
    </div>

    <div class="row" *ngIf="(listPhase | async) === MoviesStatePhaseEnum.LOADING">
      <div class="text-center m-5 w-100" data-test="loadingSpinner">
        <div class="loader m-auto"></div>
      </div>
    </div>

    <div
      class="row"
      *ngIf="(listPhase | async) === MoviesStatePhaseEnum.LOADING_SUCCESSFUL"
      data-test="moviesList">
      <app-movie-card class="col-md-4" *ngFor="let movie of moviesList" [movie]="movie"></app-movie-card>
    </div>

    <div
      class="row w-100 m-auto m-5 text-center"
      *ngIf="(listPhase | async) === MoviesStatePhaseEnum.LOADING_SUCCESSFUL">
      <hr />
      <app-pagination
        class="m-5"
        data-test="moviesPagination"
        [moviesList]="selectMoviesList"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</main>
