<ng-container [ngSwitch]="detailsPhase | async">
  <ng-container *ngSwitchCase="MovieDetailsStatePhaseEnum.LOADING">
    <main role="main" data-test="detailLoadingSpinner">
      <section class="text-center m-5">
        <div class="loader m-auto"></div>
      </section>
    </main>
  </ng-container>

  <ng-container *ngSwitchCase="MovieDetailsStatePhaseEnum.LOADING_ERROR">
    <main role="main"  data-test="detailLoadingSpinner">
      <div class="container">
        <div class="row">
          <div class="alert alert-danger w-100 m-4" data-test="errorDetailsAlert">
            <h4 class="alert-heading">Something went wrong...</h4>
            <p data-test="errorDetailsAlertText">{{ error | async }}</p>
          </div>
        </div>
      </div>
    </main>
  </ng-container>

  <ng-container *ngSwitchCase="MovieDetailsStatePhaseEnum.LOADING_SUCCESSFUL">
    <main role="main"  data-test="mainDetailsPage">
      <section class="jumbotron">
        <div class="text-center">
          <h1 *ngIf="movieDetails?.title">{{ movieDetails?.title }}</h1>
          <hr>
          <h4 *ngIf="movieDetails?.originalTitle && movieDetails?.title !== movieDetails?.originalTitle">{{ movieDetails?.originalTitle }}</h4>
          <div class="m-auto w-50" *ngIf="movieDetails?.getPoster()">
            <img
              class="card-img-top"
              [src]="movieDetails?.getPoster()"
              alt="Card image cap">
          </div>
          <ng-container *ngIf="movieDetails?.adult">
            <hr>
            <h4 class="text-success">Adult movie</h4>
          </ng-container>
          <ng-container *ngIf="movieDetails?.tagline">
            <hr>
            <h3 class="text-info">{{ movieDetails?.tagline }}</h3>
          </ng-container>
        </div>
      </section>

      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 *ngIf="movieDetails?.homepage">
              <a [href]="movieDetails?.homepage">{{movieDetails?.homepage}}</a>
            </h2>
            <p class="lead" *ngIf="movieDetails?.overview">{{movieDetails?.overview}}</p>
          </div>
          <div class="col-md-5">
            <div class="m-auto w-50" *ngIf="movieDetails?.getBackdrop()">
              <img [src]="movieDetails?.getBackdrop()" class="mw-100">
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-7 order-md-2">
            <h3 *ngIf="movieDetails?.releaseDate">
              Released on  <span class="text-muted">{{ movieDetails?.releaseDate | date: 'longDate' }}</span>
            </h3>
            <h3 *ngIf="movieDetails?.revenue">
              Revenue of  <span class="text-muted">{{ movieDetails?.revenue | currency:'USD' }}</span>
            </h3>
            <h3 *ngIf="movieDetails?.runtime">
              Runtime of  <span class="text-muted">{{ movieDetails?.runtime }} minutes</span>
            </h3>
            <h3 *ngIf="movieDetails?.voteAverage">
              Voting avrege  <span class="text-muted">{{ movieDetails?.voteAverage }} </span>
            </h3>
          </div>
          <div class="col-md-5 order-md-1">
            <h3 *ngIf="movieDetails?.status">
              Status as  <span class="text-secondary">{{ movieDetails?.status }}</span>
            </h3>
            <h3 *ngIf="movieDetails?.popularity">
              Popularity of  <span class="text-secondary">{{ movieDetails?.popularity }}</span>
            </h3>
            <h3 *ngIf="movieDetails?.voteCount">
              Votes so far  <span class="text-secondary">{{ movieDetails?.voteCount }}</span>
            </h3>
            <h3 *ngIf="movieDetails?.popularity">
              Popularity rating  <span class="text-secondary">{{ movieDetails?.popularity }}</span>
            </h3>
          </div>
        </div>

        <hr>

        <div class="row" *ngIf="movieDetails?.productionCompanies?.length">
          <h3 class="text-center w-100">Companies involved with Production</h3>
          <div class="col-md-12" *ngFor="let company of movieDetails?.productionCompanies">
            <div class="card m-2">
              <div class="card-body">
                <h5 class="card-title">{{company.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{company.originCountry}}</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="movieDetails?.productionCountries?.length">
          <h3 class="text-center w-100">Countries of production</h3>
          <div class="col-md-12" *ngFor="let country of movieDetails?.productionCountries">
            <div class="card m-2">
              <div class="card-body">
                <h5 class="card-title">{{country.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{country.iso}}</h6>
              </div>
            </div>
          </div>
          <hr>
        </div>

      </div>
    </main>
  </ng-container>
  <ng-container *ngSwitchDefault>...</ng-container>
</ng-container>


<!--{{ movieDetails | json }}-->
